body{
    margin: 10px 200px;
}

.second-container{
    text-align: center;
    padding: 100px 0px;
}

.top, .bottom{
    display: flex;
    justify-content: space-evenly;
}

.second-container img{
    height: auto;
    margin-bottom: 20px;
}

.text-header{
    text-transform: uppercase;
}

.main-container p{
    font-size: 30px;
    text-transform: uppercase;
}

.line{
    border-top: 3px solid black;
    opacity: 0.1;
}

.second-container p{
    font-size: 1.1rem;
    margin: 5px 0;
}